@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 3px;
      /* height: 20%; */
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #615e5e;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #ebcaca;
      border-radius: 100vh;
      /* border: 1px solid #d3d3d3; */
    }
  }
  